<div class="codepen-container">
  <div class="codepen-container">
    <p
      class="codepen"
      data-height="361"
      data-theme-id="dark"
      data-default-tab="<%=openTabs%>"
      data-user="dewanshdt" data-slug-hash="yLMXLoV" style="height: 361px;
      box-sizing: border-box; display: flex; align-items: center;
      justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
      data-pen-title="Snake">
      <span></span>
        See the Pen <a href="<%=codepenURL%> >" Snake</a> by dewanshDT (<ahref="https://codepen.io/dewanshdt">@dewanshdt</a>) on <a href="https://codepen.io">CodePen</a>.
      </span>
    </p>
    <script
      async
      src="https://cpwebassets.codepen.io/assets/embed/ei.js"
    ></script>
  </div>
</div>
