<div class="header">
  <div class="navbar">
    <div class="hamburgur">
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="brand">dew<span class="method"><%= title %></span></div>
    <nav>
      <ul>
        <li><a href="/">.dew()</a></li>
        <li><a href="/works">.works()</a></li>
        <li><a href="/about">.about()</a></li>
        <li><a href="mailto:dewansh.space@gmail.com">.contact()</a></li>
        <%- include('links') %> 
      </ul>
    </nav>
  </div>
</div>
