<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %> <%- include("partials/navBar") %>

  <div class="container">
    <div class="about-page">
      <img src="/assets/dewansh.jpg" alt="" />
      <h1>Dewansh Singh Thakur</h1>
      <p class="subheading">I'm a 20 y/o student and a web dev from India.</p>
      <a href="/assets/Dewansh's Resume.pdf" class="btn">resume &#8595;</a>
      <br />
      <h3>My Skils</h3>
      <div class="about-content">
        <p>
          Frontend development, <br />
          Backend development, <br />
          UI/UX Design <span class="comment">~ learning</span> <br />
          Graphic Design <br />
        </p>
        <p>
          JavaScript, CSS, HTML, <br />
          NodeJS, ExpressJS, EJS <br />
          ReactJS <span class="comment">~ Advance</span> <br />
          MongoDB <span class="comment">~ learning</span> <br />
          GSAP <span class="comment">~ learning</span> <br />
        </p>
        <p>
          Java <span class="comment">~ Advance</span><br />
          JavaScript <span class="comment">~ Advance</span><br />
          Python <span class="comment">~ Intermediate</span>
        </p>
        <p>
          Photoshop, <br />
          Illustrator
        </p>
      </div>
      <h3>Langauges</h3>
      <div class="about-content">
        <p>
          <span class="about-comment">&nbsp;&nbsp;//fluent</span> <br />
          English, <br />
          Hindi
        </p>
      </div>
      <h3>Also busy with</h3>
      <div class="about-content">
        <p>petting my dog</p>
        <p>Video games</p>
      </div>
    </div>
  </div>
  <%- include("partials/foot") %>
</html>
