<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %> 
  <%- include("partials/navBar") %>
  
  <div class="about-page">
      <h1>about()</h1>
      <p class="subheading">I'm a student and web dev from India.</p>
      <a href="" class="btn">resume &#8595;</a>
      <br>
      <h3>My Skils</h3>
      <div class="about-content">
          <p>
              Frontend development, <br>
              Full-Stack development, <br>
              UI/UX Design ~ learning <br>
          </p>
          <p>
             JavaScript, CSS, HTML, <br>
             Express, MongoDB, <br>
             GSAP ~ learning <br><br>
             ~Graphic Design
          </p>
          <p>
              Photoshop, <br>
              Illustrator 
          </p>
      </div>
      <h3>Langauges</h3>
      <div class="about-content">
          <p>
              <span class="about-comment">&nbsp;&nbsp;//fluent</span> <br>
              English, <br>
              Hindi
          </p>
      </div>
      <h3>Also busy with</h3>
      <div class="about-content">
          <p>pet my dog</p>
          <p>Video games</p>
      </div>
  </div>
  <%- include("partials/foot") %>
</html>
