<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> <%- include("partials/navBar") %>
  <div class="container">
    <main>
      <h1>Dewansh Thakur</h1>
      <div class="intro">
        <img
          class="center-icon"
          src="/assets/dew-circle-anime-transparent.png"
          alt=""
        />
        <h2>
          "Hello World"
          <img
            class="me-icon"
            src="/assets/dew-circle-anime-transparent.png"
            alt=""
          />
        </h2>
        <h3>I'm Dewansh Thakur</h3>
        <p>
          a creative web dev, a student and a terrible cricket player from
          India. <br />
          <br />
          <span class="comment">// Scroll slowly</span>
        </p>
      </div>

      <div class="about">
        <div>
          <h2>README.md</h2>
          <p>
            Let me tell you something more about me. I'm a self taught developer
            and designer, I love art and music too. I learned to code from
            various sources like reading docuentation, follow along videos and
            by online courses, I'm currently working at startups and polishing
            my skills. <br />
            I'm also intrested in contributing to open source technologies.
          </p>
        </div>
      </div>

      <div class="stats">
        <div class="stat">
          <h2 class="stat-num" id="developmentyear">04+</h2>
          <p>Years of Development</p>
        </div>
        <div class="stat">
          <h2 class="stat-num">10+</h2>
          <p>Web applications</p>
        </div>
        <div class="stat">
          <h2 class="stat-num">100%</h2>
          <p>Learning</p>
        </div>
      </div>

      <div class="content">
        <p>Before I started coding, I was doing</p>
        <h2>Painting and Photo Manipulation</h2>
        <p>for my instagram &#128513;</p>
      </div>

      <div class="made-with">
        <p><span class="comment">// this website is made with</span></p>
        <div>
          <p>
            &lt;/&gt;
            <br /><br />
            Express <br />
            GSAP <br />
            ScrollMagic <br />
            EJS <br />
            Photoshop <br />
          </p>
          <p>
            &raquo;
            <br /><br />
            &plus;40 files <br />
            &plus;20 MiB<br />
            Spotify <br />
            &plus;10 Cups of Coffee <br />
            &plus;27 hours of coding
          </p>
        </div>
        <p><span class="comment">// On my GitHub</span></p>
      </div>

      <div class="final">
        <p>
          thanks for visiting my website. <br />
          <span class="comment"
            >&Tab;// this is a work in progress so check back often!</span
          >
        </p>
        <h2>
          also check out my <a href="/about">about</a> and
          <a href="/works">works</a> section.
        </h2>
        <br />
        <h2 id="greeting"></h2>
      </div>
    </main>
  </div>
  <%- include('partials/foot') %>
</html>
