<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include("partials/navBar") %>
<div class="container">
  <main>
    <div class="intro">
      <img
          class="center-icon"
          src="/assets/dew-circle-anime-transparent.png"
          alt=""
        />
      <h1>
        "Hello World"
        <img
          class="me-icon"
          src="/assets/dew-circle-anime-transparent.png"
          alt=""
        />
      </h1>
      <h3>I'm Dewansh Thakur</h3>
      <p>
        a creative web dev, a student and a terrible cricket player from India. <br>
        <br>
        <span class="comment">// Scroll slowly</span>
      </p>
    </div>

    <div class="about">
      <div>
        <h1>README.md</h1>
        <p>
          Let me tell you tell you sommething more about me. I'm a self taught
          developer and designer, I love art and music too. I learnd to code form
          various sources like reading docuentation, follow along videos and by
          online courses, I'm currently mastering web development by creating
          diffrent web apps. <br />
          I'm also intrested in contributing to open source technologies.
        </p>
      </div>
    </div>

    <div class="stats">
      <div class="stat">
        <h1 class="stat-num">02+</h1>
        <p>Years of Development</p>
      </div>
      <div class="stat">
        <h1 class="stat-num">03+</h1>
        <p>Website Designed</p>
      </div>
      <div class="stat">
        <h1 class="stat-num">100%</h1>
        <p>Learning</p>
      </div>
    </div>

    <div class="content">
      <p>Before I started coding, I was doing</p>
      <h1>Painting and Photo Manipulation</h1>
      <p>for my instagram &#128513;</p>
    </div>

    <div class="made-with">
      <p><span class="comment">// this website is made with</span></p>
      <div>
        <p>
          &lt;/&gt;
          <br><br>
          Express <br>
          GSAP <br>
          ScrollMagic <br>
          EJS <br>
          Photoshop <br>
        </p>
        <p>
          &raquo;
          <br><br>
          &plus;20 MiB<br>
          Spotify <br>
          &plus;10 Cups of Coffee <br>
          &plus;27 hours of coding
        </p>
      </div>
      <p><span class="comment">// On my GitHub</span></p>
    </div>

    <div class="final">
      <p>
        thanks for visiting my website. <br />
        <span class="comment"
          >&Tab;// this is a work in progress so check back
          often!</span
        >
      </p>
      <h1>olso check out my <a href="/about">about</a> section and <a href="/works">works</a> section for my recent works.</h1>
    </div>
  </main>
</div>
<%- include('partials/foot') %>
</html>