:root {
  --ascentColor: #ffb600;
  --uiDark: #191919;
  --uiLight: #ffb680;
  --xlFont: 6rem;
  --lFont: 4rem;
  --mFont: 2.5rem;
  --sFont: 1.5rem;
  --xsFont: 1.3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--uiDark);
  color: beige;
  font-family: "Roboto Mono", monospace;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #191919, #191919ee),
    url(/assets/doodle.jpg);
}

.comment {
  color: inherit;
  opacity: .5;
}

.container {
  width: 100%;
  max-width: 1300px;
  min-height: 100vh;
}
.header {
  z-index: 2;
  width: 100vw;
  background: linear-gradient(#191919, #0000);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}
.navbar {
  display: block;
  width: 100%;
  max-width: 1300px;
  padding: 0.5em;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  display: flex;
  font-size: var(--sFont);
  justify-content: space-between;

  .hamburgur {
    display: none;
  }

  .brand {
    color: var(--ascentColor);
    font-size: inherit;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }

  nav {
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0 0.5em;
    transition: all 300ms ease;

    li {
      display: inline;
      font-size: inherit;
      padding: 0.5em;

      a {
        text-decoration: none;
        color: inherit;
        font-family: inherit;
      }

      a.router-link-exact-active {
        color: var(--ascentColor);
        cursor: default;
      }

      &:hover {
        color: var(--ascentColor);
        transition: color 300ms ease;
      }
    }
  }

  nav.visibal {
    opacity: 1;
    pointer-events: all;
  }
}

.links {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 4rem;
  top: calc(50% - ((1.5rem * 3) + (1rem * 6)) / 2);
  a {
    color: var(--ascentColor);
    margin: 1rem 0;
    transition: all 200ms ease;

    svg {
      width: 2.3rem;
      height: 2.3rem;
      transition: all 100ms ease;
    }

    &:hover {
      color: beige;
      transform: translateY(-0.5rem);

      svg {
        transform: scale(1.2);
      }
    }
  }
}

main {
  margin: 1rem;
  padding: 5rem 7.5rem;
  overflow-x: hidden;
}

.intro {
  margin-top: 7rem;
  margin-left: 1rem;
  margin-bottom: 3.5rem;
  margin-right: 2.5rem;
  min-height: 50vh;

  h1 {
    position: relative;
    font-size: var(--xlFont);
    text-transform: capitalize;
    font-weight: 400;

    .me-icon {
      position: absolute;
      width: 8.5rem;
      height: 8.5rem;
      // right: 14rem;
      top: -7rem;
      transform: rotateZ(25deg);
    }
  }

  h3 {
    color: var(--ascentColor);
    font-size: var(--mFont);
    padding: 0.5em;
    padding-left: 3rem;
  }

  p {
    padding-left: 3rem;
    line-height: 1.2em;
    font-size: var(--xsFont);
    font-weight: 300;
  }

  .comment {
    opacity: 0.5;
  }

  .center-icon {
    display: none;
  }
}

.about {
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 1rem 1rem;

  div {
    width: 100%;
    display: flex;
    padding-top: 4rem;
  }

  h1 {
    flex-basis: 80%;
    font-size: var(--lFont);
    color: var(--ascentColor);
    font-weight: 400;
  }
  p {
    font-size: var(--xsFont);
    flex-basis: 100%;
    line-height: 1.7em;
    font-weight: 200;
  }
}

.stats {
  display: flex;
  margin: 6rem 0.5rem;
  width: 100%;

  .stat {
    padding-top: 25%;
    text-align: center;
    flex-basis: 100%;

    .stat-num {
      width: 100%;
      font-size: var(--xlFont);
      font-weight: 500;
      padding: 0.1em;
    }

    p {
      width: 100%;
      font-size: var(--sFont);
      font-weight: 500;
      color: var(--ascentColor);
    }
  }
}

.content,
.final {
  margin-top: 5rem;
  min-height: 80vh;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: var(--ascentColor);
    font-size: var(--lFont);
    font-weight: 700;
    padding: 0.1em 0;

    .comment {
      font-size: var(--mFont);
      font-weight: 400;
    }
  }

  p {
    font-size: var(--xsFont);
    line-height: 1.5em;
  }

  .comment {
    color: #777;
  }

  a {
    color: beige;
    text-decoration: none;

    &:hover {
      color: var(--uiLight);
    }
  }
}

.made-with {
  margin-top: 5rem;
  min-height: 80vh;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .comment {
    color: #777;
    font-size: var(--sFont);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--uiLight);
    }
  }

  div {
    padding: 2rem;
    display: flex;
    color: var(--ascentColor);

    p {
      padding-right: 3rem;
      line-height: 1.7em;
      font-size: var(--xsFont);
      font-weight: 400;
    }
  }
}
